body{
    background-color: #F7EFE5;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #7743DB;
    color: black;
    text-decoration:line-through;
}
main{
    max-width: 80%;
    margin: 0 auto;
}
.editor {
    border: 1px solid #C3ACD0;
    padding: 20px;
    background-color: #FFFBF5;
    min-height: 60vh;
}

.sample-toolbar {
    border: solid 1px #C3ACD0;
    background: #30475E;
    padding: 5px;
    border-radius: 3px;
}

.sample-toolbar >span {
    cursor: pointer;
}

.sample-toolbar >span:hover {
    text-decoration: underline;
}

footer {
    margin: 0;
    padding: 1rem;
    text-align: center;
    background-color: #30475E;
    color: white;
}