.editor {
    border: 1px solid #ccc;
    padding: 20px;
    min-height: 200px;
}

.sample-toolbar {
    border: solid 1px #ddd;
    background: #f4f4f4;
    padding: 5px;
    border-radius: 3px;
}

.sample-toolbar >span {
    cursor: pointer;
}

.sample-toolbar >span:hover {
    text-decoration: underline;
}